

.navbar-brand {
    font-family: fantasy;
    font-size: xx-large;
}

.navbar-text.tagline {
	font-family: cursive;
    font-size: x-large;
	color: goldenrod;
}

.navbar  .cart {
	margin-right: .5em;
}