

.navbar-brand {
    font-family: fantasy;
    font-size: xx-large;
}

.navbar-text.tagline {
	font-family: cursive;
    font-size: x-large;
	color: goldenrod;
}

.navbar  .cart {
	margin-right: .5em;
}

/* main page styles */
.main.index .thumbnail {
    min-height: 25em;
    max-height: 25em;
    overflow: hidden;
}
.main.index .thumbnail img {
    height: 160px;
}

/* PDP styles */


.pdp.index img {
    width: 90%;
}

/* Category styles */
.category.index img {
    height: 3em;
}