
/*****************************/
/* Header styles */
.navbar-brand {
    font-family: Impact, Charcoal, sans-serif;
    font-size: xx-large;
}

.navbar-text.tagline {
	font-family: cursive;
    font-size: x-large;
	color: goldenrod;
}

.navbar  .cart {
	margin-right: .5em;
}

/*****************************/
/* Footer */
.footer {
}

/*****************************/
/* Main page styles */
.main.index .thumbnail {
    min-height: 25em;
    max-height: 25em;
    overflow: hidden;
}
.main.index .thumbnail p {
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main.index .thumbnail img {
    height: 160px;
}

/*****************************/
/* PDP styles */
.pdp.index .product-image img {
    width: auto;
    height: 200px;
    /*
	max-height: 480px;
	*/
    max-width: 100%;

}

/*****************************/
/* Category styles */
.list-group-item .product-image {
    height: 3em;
}

.list-group-item .delete-item {
    padding-left: 0;
}